/*Цвета */
/* Заголовок */
@header:#81000D;
/* Фон */
@background:#F2F2F2;
/* Шрифт */
@fontColor:#777777;

/* Шрифты */
@font-face{
	font-family: 'Lucida Grande Bold';
	src: url('fonts/Lucida Grande Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'Lucida Sans Unicode';
	src: url('fonts/Lucida Sans Unicode.ttf') format('truetype');
}
.LucidaSans{
	font-family: Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif;
}

.LucidaBold{
	font-family: Lucida Grande, Helvetica, Arial, Verdana, sans-serif;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
	.LucidaBold;
}
body{
	background-color: @background;
}

/* Навигация */
nav{
	background-color:@header;
	div.container{
		ul{
			margin-bottom: 0px;
			display: inline-block;
			li{
				margin-top: 0px;
				.LucidaSans;
				font-size: 16px;
				letter-spacing: -0.5px;
				color:white;
				display: inline-block;
				text-decoration: none;
			}
		}
	}
}
/* Заголовки */
header{
	h1{
		margin: 12px 0;
		font-size: 22px;
	}
	h2{
		font-size: 18px;
		margin: 12px 0 0 0;
		color: @fontColor;
		line-height: 28px;
	}
	.wrapper{
		#city{
		float: left;
		margin-top: 43px;
	}
	.btn{
		margin-top: 43px;
	}
	}
	img{
		padding: 0px;
		margin-left: 20%;
	}
}

main{
	.container{
		border-bottom: 1px solid #777777;
	}
	
}

#content{
	article{
		h3{
		font-size: 14px;
		margin: 10px 0;
	}
	p{
		font-size: 12px;
		.LucidaSans;
		color: @fontColor;
	}
	}
	
}